		h2
		{
			margin-top: 0px;
			margin-bottom: 0px;
		}
		
		h3
		{
			margin: 20px 0px 20px 50px;
		}
		a
		{
			cursor:pointer;
		}
		a:hover, a:focus 
		{
    		color: #b1a00b;
		}
		.pointer
		{
			cursor:pointer;
		}
		#topnav_current 
		{
		    color: #000;
		    border-bottom: #333 2px solid;
		    padding-bottom: 10px;
		}
		.tophead
		{
			padding-top: 10px;
		}
		.article
		{
			background-color: white;
			margin-bottom: 10px;
		}
		.article_inside
		{
			padding: 10px;
			min-height: 180px;	
			position: relative;	
		}
		.article_img
		{
			display: inline-block;
			margin-right: 5px;
		}
		.article_img_div
		{
			position: absolute;
			left:2%;
			bottom: 10%;
		}
		.article_img_div span
		{
			margin-right: 10px;
		    padding-left: 20px;
		}
		.readall
		{
			position: absolute;
			bottom: 10%;
			right: 5%;
		}
		.type
		{
			background: url(../images/type.png) no-repeat left center;
		}
		.time
		{
			background: url(../images/time.png) no-repeat left center;
		}
		.view
		{
			background: url(../images/view.png) no-repeat left center;
		}
		.mine_img
		{
    		width: 100px;
		}
		.allplace
		{
			 margin-right: 100px;
			 margin-left: 100px;
			 padding-top: 20px;
			 overflow:hidden;
			 clear:both;
		}
		h3.blogtitle a
		{
			font-size: 16px;
			font-weight:bold;
		}
		h3.blogtitle
		{
			margin:0;
		}
		.cloud ul a
		{
			padding: 0px 11px;	
		}
		.aboutme 
		{
		    background: #FFF;
		    border-radius: 10px;
		    overflow: hidden;
		}
		.ab_title 
		{
		    text-align: center;
		    position: relative;
		    margin: 20px;
		}
		.ab_title:before 
		{
		    content: "";
		    width: 25%;
		    height: 2px;
		    background: #000;
		    position: absolute;
		    left: 0;
		    bottom: 8px;
		}
		.ab_title:after 
		{
		    content: "";
		    width: 25%;
		    height: 2px;
		    background: #000;
		    position: absolute;
		    right: 0;
		    bottom: 8px;
		}
		.mine_img
		{
			width: 100px;
		    height: 100px;
		    overflow: hidden;
		    border-radius: 50px;
		    margin: auto;
		}
		.ab_con 
		{
		    line-height: 30px;
		    padding: 10px;
		}
		.content
		{
			margin-top: 15px;
		    margin-left: 25px;
		    color: #888;
		    line-height: 24px;
		    margin-right: 25px;
		}
		.content span
		{
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			overflow: hidden;
		}
		img
		{
			max-width:100%;
		}
		.message
		{
		    height: 120px;
		    width: 100%;
		    border: 1px solid #e5e5e5;
		    border-radius: 0px;
		    -webkit-box-shadow: none;
		    box-shadow: none;
		    outline: none;
		    padding: 15px 20px;
		    font-size: 16px;
		    color: #7f7f7f;
		    font-family: "Poppins", sans-serif;
		    resize: none;
		}
		.submit_btn2 
		{
		    height: 46px;
		    width: 165px;
		    line-height: 46px;
		    color: #232d37;
		    font-family: "Poppins", sans-serif;
		    font-weight: 600;
		    font-size: 13px;
		    text-transform: uppercase;
		    background-image: -webkit-gradient(linear, left top, right top, from(#744fff), color-stop(51%, #21d397), to(#744fff));
		    background-image: -webkit-linear-gradient(left, #744fff 0%, #21d397 51%, #744fff 100%);
		    background-image: -o-linear-gradient(left, #744fff 0%, #21d397 51%, #744fff 100%);
		    background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%);
		    text-align: center;
		    position: relative;
		    background-size: 200% auto;
		    z-index: 2;
		    display: block;
		    -webkit-transition: all 400ms ease-out;
		    -o-transition: all 400ms ease-out;
		    transition: all 400ms ease-out;
		    padding: 0px;
		    border-radius: 2px;
		    outline: none !important;
		    -webkit-box-shadow: none !important;
		    box-shadow: none !important;
		    cursor: pointer;
		    float: right;
    		margin-top: 20px;
    		margin-bottom: 20px;
		}
		.submit_btn2:before 
		{
		    content: "";
		    background: #f7f7f7;
		    position: absolute;
		    left: 2px;
		    top: 2px;
		    width: 97.5%;
		    height: 40px;
		    z-index: -1;
		    -webkit-transition: all 400ms linear 0s;
		    -o-transition: all 400ms linear 0s;
		    transition: all 400ms linear 0s;
		}
		@media screen and (max-width: 768px)
		{
			.tophead
			{
				padding-top: 0px;
			}
			.article_img_div
			{
				position: static;
			}
			.readall
			{
				position: static;
				display: block;
			    overflow: hidden;
			    width: 100%;
			    text-align: center;
			    background: #f2f2f2;
			    padding: 10px 0;
			    margin-top: 10px;
			    clear: both;
			}
			.allplace
			{
				 padding-left: 0px;
				 padding-right: 0px;
				 margin-right: 0px;
				 margin-left: 0px;
			}
			.leftplace
			{
				 padding-left: 0px;padding-right: 0px;
			}
			.rightplace
			{
				 padding-left: 0px;padding-right: 0px;
			}
			h3.blogtitle
			{
				padding-top: 0px;
			}
			.content
			{
				margin-bottom: 15px;
			}
		}