#ipad{
	background:url(../images/ipad.png);
	margin:0px auto;
	width:864px;
	height:660px;
}
#homeBtn{
	position:absolute;
	left:877px;
	top:313px;
	width:40px;
	height:40px;
	cursor:pointer;
}
#black{
	position:relative;
	background: white;
	left:76px;
	top:69px;
	width:714px;
	height:522px;
}
.zoomOut{
	-webkit-transform:scale(0.6);
	-moz-transform:scale(0.6);
	-webkit-transition:0.3s ease-in-out;
	-moz-transition:0.3s ease-in-out;
	behavior: url(ie-css3.htc);
}
.editList{
	position:absolute;
	right:0;
	top:40px;
	background:url(../images/editList.png);
	height:410px;
	width:364px;
	line-height:20px;
	text-align:center;
	color:#FFF;
	z-index:90;
	display:none;
}
	input
	{
		width: 100%;
		height: 48px;
	    color: #1a1a1a;
	    line-height: 24px;
	    -webkit-box-flex: 1;
	    -ms-flex: 1;
	    flex: 1;
	    padding: 0;
	    overflow: hidden;
	    font-family: inherit;
	    font-size: inherit;
	    font-weight: inherit;
	    background: transparent;
	    border: none;
	    outline: none;
    	resize: none;
    	border-bottom: 1px solid #ebebeb;
	}
		.iphone {
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #999, 0 0 30px 0px rgba(0, 0, 0, 0.7);
    border: 5px solid #d9dbdc;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 50px;
    height: 700px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.iphone-top {
    padding: 5px 110px 40px;
    position: relative;
}
.iphone-top .speaker {
    display: block;
    width: 70px;
    height: 6px;
    margin: 0 auto;
    border-radius: 6px;
    background: #292728;
}
.iphone-top .camera {
    display: block;
    margin: 0 auto;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-bottom: 13px;
    background: #333;
}
.iphone-top .sensor {
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    background: #333;
    margin-top: -5px;
    border-radius: 50%;
}
.iphone .top-bar, .iphone .bottom-bar {
    display: block;
    width: 100%;
    height: 15px;
    border-left: 5px solid #BBB;
    border-right: 5px solid #BBB;
    position: absolute;
    left: -5px;
}
.iphone .top-bar {
    top: 65px;
}
.iphone .bottom-bar {
    bottom: 65px;
}
.iphone-screen {
    background: #eee;
    border: 1px solid #fff;
    height: 524px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    overflow: hidden;
}
.iphone-screen img {
    width: 100%;
}
.iphone .buttons .on-off, .iphone .buttons .up, .iphone .buttons .down, .iphone .buttons .sleep {
    display: block;
    background: #CCC;
    position: absolute;
    border-radius: 2px 0px 0px 2px;
}
.iphone .buttons .on-off {
    height: 40px;
    width: 3px;
    top: 100px;
    left: -8px;
}
.iphone .buttons .up, .iphone .buttons .down, .iphone .buttons .sleep {
    height: 60px;
    width: 5px;
    left: -10px;
}
.iphone .buttons .up {
    top: 170px;
}
.iphone .buttons .down {
    top: 250px;
}
.iphone .buttons .sleep {
    left: auto;
    right: -10px;
    top: 170px;
    border-radius: 0px 2px 2px 0px;
}
.iphone-bottom {
    padding: 10px 0 0;
}
.iphone-bottom span {
    display: block;
    margin: 0 auto;
    width: 68px;
    height: 68px;
    background: #ccc;
    border-radius: 50%;
    background: -webkit-linear-gradient(315deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
    background: linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
    position: relative;
}
.iphone-bottom span:after {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 4px;
}