<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="images/logo.ico" />
<title>写博客</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/dwq.css">
<link rel="stylesheet" type="text/css" href="css/ueditor.css">
<style>  
	#typeandshire
	{
		margin-bottom:10px;
	}
	#shire
	{
		display:inline-block;
		width: 65%;
	}
	@media screen and (min-width: 768px){
      #editor
      {
         padding-left: 50px;
         padding-bottom: 20px;
      }  
      #typeandshire
	  {
	     padding-left: 50px;
	  }    
  	}
  	@media screen and (max-width: 768px){
      #line
      {
         display:none;
         padding-bottom: 20px;
      }    
      #typeandshire
	  {
		 margin-top:10px;
	  } 
	  #word
	  {
	  	 display:none;
	  } 
	  #shire
		{
			display:inline-block;
			width: 100%;
			padding-top:10px;
		}
  	}
	#noticediv
	{
	    background-color: white;
	    display: inline-block;
	    position: absolute;
	    top: 96px;
	    right: 195px;
	    width: 300px;
	    border-radius: 1px;
	    box-shadow: 0 0 0 1px #9e9e9e;
       	outline: 3px solid #607d8b52;
	}
	@media screen and (max-width: 768px)
	{
		#noticediv
		{
		    top: 66px;
		    right: 0px;
		    width: auto;
		    width:230px;
	    }
	}		
</style>
</head>
<body>
<header id='head'>
  <div class="tophead">
    <div class="logo"><a href="/"><img id="img_logo" src="http://www.loveding.top:8089/dahuablog_image/logo_black.jpg" style="height: 33px;width: 33px;margin-top: 4px;">大花博客<span style="color: red;">.</span></a></div>
    <div id="mnav">
      <h2><span class="navicon"></span></h2>
      <ul>
        <li><a href="index">首页</a></li>
        <li><a href="images">照片墙</a></li>
         <li><a href="#" onclick='shownotice()' id='notice'>消息</a></li>
        <li><a href="write">提笔</a></li>
        <li><a href="myworld">个人</a></li>
        <li th:switch="${session.user}"><a th:case=null href="login">登录</a>
		<a th:case=* th:text='${session.user.nickname}'
		href="javascript:void(0);" onclick="loginOut()">登录</a></li>
      </ul>
    </div>
    <nav class="topnav" id="topnav">
      <ul>
        <li th:switch="${session.user}">
			<a th:case=null></a>
			<a th:case=* th:if="${session.user.rowId} == 1" href="admin">进入后台管理页面</a>
		</li>
        <li><a href="index">首页</a></li>
        <li><a href="images">照片墙</a></li>
        <li><a href="#" onclick='shownotice()' id='notice_phone'>消息</a></li>
        <li><a href="write">提笔</a></li>
        <li><a href="myworld">个人</a></li>
        <li th:switch="${session.user}"><a th:case=null href="login">登录</a>
		<a th:case=* th:text='${session.user.nickname}'
		href="javascript:void(0);" onclick="loginOut()">登录</a></li>
      </ul>
    </nav>
  </div>
</header>
<div id='line' style="height:10px;background-color:black;background-color: #7955486b;margin: 8px;"></div>	
<div class="col-xs-12 col-md-9" style='padding-left:0px;padding-right:0px;'>
<script id="editor" type="text/plain"></script>
	<div id='typeandshire' style="clear: both;overflow: hidden;">
		<div id='type' style='display:inline-block;float:left;'>
			<div class="col-xs-4 col-md-4">
				<button class='btn btn-default' onclick='settype(1)'>技术交流</button>
			</div>
			<div class="col-xs-4 col-md-4">
				<button class='btn btn-default' onclick='settype(2)'>我的困惑</button>
			</div>
			<div class="col-xs-4 col-md-4">
				<button class='btn btn-default' onclick='settype(3)'>谈谈生活</button>
			</div>
		</div>
		<div id='shire'>
			<div class="col-xs-8 col-md-8">
				<input id='title' type=text class="form-control" style='display:inline-block;' placeholder="加个标题吧">
			</div>
			<div class="col-xs-4 col-md-4">
				<button class='btn btn-default' onclick="insert_article()">分享</button>
			</div>
		</div>
	</div>
</div>
<!--     <div id="btns">
	    <div>
	        <button onclick="getAllHtml()">获得整个html的内容</button>
	        <button onclick="getContent()">获得内容</button>
	        <button onclick="setContent()">写入内容</button>
	        <button onclick="setContent(true)">追加内容</button>
	        <button onclick="getContentTxt()">获得纯文本</button>
	        <button onclick="getPlainTxt()">获得带格式的纯文本</button>
	        <button onclick="hasContent()">判断是否有内容</button>
	        <button onclick="setFocus()">使编辑器获得焦点</button>
	        <button onmousedown="isFocus(event)">编辑器是否获得焦点</button>
	        <button onmousedown="setblur(event)" >编辑器失去焦点</button>

	    </div>
	    <div>
	        <button onclick="getText()">获得当前选中的文本</button>
	        <button onclick="insertHtml()">插入给定的内容</button>
	        <button id="enable" onclick="setEnabled()">可以编辑</button>
	        <button onclick="setDisabled()">不可编辑</button>
	        <button onclick=" UE.getEditor('editor').setHide()">隐藏编辑器</button>
	        <button onclick=" UE.getEditor('editor').setShow()">显示编辑器</button>
	        <button onclick=" UE.getEditor('editor').setHeight(300)">设置高度为300默认关闭了自动长高</button>
	    </div>

	    <div>
	        <button onclick="getLocalData()" >获取草稿箱内容</button>
	        <button onclick="clearLocalData()" >清空草稿箱</button>
	    </div>
	</div>
	<div>
	    <button onclick="createEditor()">
	    创建编辑器</button>
	    <button onclick="deleteEditor()">
	    删除编辑器</button>
	</div> -->
<div class="col-xs-0 col-md-3" id='word'>	
	<div class="col-xs-0 col-md-6">	
		<img src='images/gs2.png' style='margin: 170px auto;margin-bottom: -30px;margin-right: 10px;'>
	</div>
	<div class="col-xs-0 col-md-6">	
		<img src='images/gs1.png' style='margin: 38px auto;margin-left: 24px;'>
	</div>	
</div>
<div>
	<footer style="height: 60px;clear:both;">
	  <p>Design by 大花博客 黑ICP备18000243号</p>
	</footer>
</div>
<div style='display:none;' id='noticediv'>
    <a>提醒</a><a style='float:right' onclick='shownotice()'>关闭</a>
        <ul id='noticeText'>
        </ul>
 </div>
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<!-- 配置文件 -->
<script type="text/javascript" src="js/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="js/ueditor.all.js"></script>
<script type="text/javascript" charset="utf-8" src="js/zh-cn.js"></script>
<script type="text/javascript" src="layer/layer.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
	console.log("------欢迎访问大花博客,请联系我。邮箱:love_dingwq@163.com。------\n查看简历请访问www.loveding.top/mine");
	$("#head").click(function(){
		var oh2 = document.getElementsByTagName("h2")[0];
		var oUl = document.getElementsByTagName("ul")[0];
		var style = oUl.style;
		style.display = style.display == "block" ? "none" : "block";
		oh2.className = style.display == "block" ? "open" : ""
	});
	var obj=null;
	var As=document.getElementById('topnav').getElementsByTagName('a');
	obj = As[0];
	for(i=1;i<As.length;i++){if(window.location.href.indexOf(As[i].href)>=0)
	obj=As[i];}
	obj.id='topnav_current'

    var ue = UE.getEditor('editor');
	var winWidth = document.body.clientWidth;

	var type="";
	function settype(newType){
		type = newType;
	}
	
    function insert_article(){
		$("#myShare").attr("disabled", true);
		if(type==""){
			layer.msg('请选择分类后在提交', function(){});
			return false;
		}
		var title = $("#title").val();
		var content = UE.getEditor('editor').getContent();
		var lead = UE.getEditor('editor').getPlainTxt();
		if(title==null || title==""){
			layer.msg('请填写标题后在提交', function(){});
			$("#myShare").attr("disabled", false);
			return false;
		}
		if(content==null || content==""){
			layer.msg('请填写正文后在提交', function(){});
			$("#myShare").attr("disabled", false);
			return false;
		}
		$.ajax({
			type : "post",
			url : "/save_article",
			data : {"title":title,"content":content,"type":type,"lead":lead},
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('分享失败', function(){});
           },
           success: function(data) {
           	if(data == 'success'){
           		layer.msg('分享成功');
					window.location.href = "index.html";
           	}
           }			
		});
	}
		
		function loginOut(){
			layer.msg('确定要退出么？', {
				  time: 0 //不自动关闭
				  ,btn: ['咋的，有意见？', '你说退就退啊！']
				  ,yes: function(index){
				    layer.close(index);
				    window.location.href = "loginOut";
				  }
				});
		}


    function setblur(e){
        UE.getEditor('editor').blur();
        UE.dom.domUtils.preventDefault(e)
    }
    function insertHtml() {
        var value = prompt('插入html代码', '');
        UE.getEditor('editor').execCommand('insertHtml', value)
    }
    function createEditor() {
        enableBtn();
        UE.getEditor('editor');
    }
    function getAllHtml() {
        alert(UE.getEditor('editor').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getContent());
        alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UE.getEditor('editor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UE.getEditor('editor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UE.getEditor('editor').selection.getRange();
        range.select();
        var txt = UE.getEditor('editor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UE.getEditor('editor').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UE.getEditor('editor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UE.getEditor('editor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UE.getEditor('editor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function getLocalData () {
        alert(UE.getEditor('editor').execCommand( "getlocaldata" ));
    }

    function clearLocalData () {
        UE.getEditor('editor').execCommand( "clearlocaldata" );
        alert("已清空草稿箱")
    }
    
    function isFocus(e){
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    
    $(function(){
    	$.ajax({
    		type : "post",
    		url : "/getNotice",
    		cache: false,
    		async: false,
    		error: function(request) {
    			layer.msg('获取消息失败', function(){});
            },
            success: function(data) {
                if(data != ""){
                	var html ="";
                	for(var a=0;a<data.length;a++){
                		html += "<li>" + data[a] + "</li>";
                	}
                	$("#noticeText").append(html);
                	$("#notice").text("消息("+data.length+")");
                	$("#notice_phone").text("消息("+data.length+")");
                }
            }
    	});
    })
    
    function shownotice(){
	if('' == '[[${session.user}]]'){
		layer.msg('请登录后查看消息', function(){});
		return false;
	}
	if($('#noticediv').is(':hidden')){
		$("#noticediv").show();
		$.ajax({
			type : "post",
			url : "/delNotice",
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('获取消息失败', function(){});
	        },
	        success: function(data) {
	        	if(data=='success'){
		        	$("#notice").text("消息");
	            	$("#notice_phone").text("消息");
	        	}
	        }
		});
	}else{
		$("#noticediv").hide();
	}
}
</script>
</body>
</html>