<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<head>
<title>首页</title>
<link rel="shortcut icon" href="images/logo.ico" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" href="css/jquery.bootgrid.min.css">
<style type="text/css">
.navbar-inverse 
	{
	    height: 80px;
	    border-color: white;
	}
	.navbar-inverse .navbar-nav > li > a 
	{
	    color: white;
	}
	.navbar-inverse .navbar-brand 
	{
	    color: white;
	}
	.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus 
	{
	    color: #fff;
	    background-color: #08080800;
	}
	
	#logo_text
	{
		font-size: 20px; 
	}
	.row
	{
		display:none;
	}
	@media screen and (max-width: 768px)
	{
		#bs-example-navbar-collapse-1
		{
			background: #000;
    		float: right;
		}
		.navbar-header
		{
			padding-top: 15px;
		}
		.navbar-inverse 
		{
		    height: 100px;
		}
		.navbar-inverse .navbar-toggle 
		{
		    border-color: #3330;
		}
		
		
		#collapse 
		{
		    background: #000;
		    float: right;
		}
		
    	#logo_text
		{
			font-size: 16px; 
		}
	}
</style>
</head>
<body style="background-image: url(images/image_new_1.jpg);">


	<!--头??-->
	<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgba(0,0,0,0);">
		<div class="container" style="padding-top: 15px;">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" id="head_1" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#collapse"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="index.html" id="speak"><img id="img_logo"
						src="images/logo_white.jpg"
						style="height: 20px; width: 20px; float: left; position: initial; top: auto;" /><span
						style="font-family: cursive; margin-left: -8px;" id='logo_text'>&nbsp大花博客<span
							style="color: red;">.</span></span></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="javascript:void(0);" onclick="user()">用户信息</a></li>
						<li><a href="javascript:void(0);" onclick="article()">文章信息</a></li>
						<li><a href="javascript:void(0);" onclick="wordMessage()">留言信息</a></li>
						<li><a href="javascript:void(0);" onclick="comment()">评价信息</a></li>
						<li><a href="javascript:void(0);" onclick="role()">角色信息</a></li>
						<li><a href="javascript:void(0);" onclick="permission()">权限信息</a></li>
						<li><a href="javascript:void(0);" onclick="myTest()">文字</a></li>
						<li><a href="javascript:void(0);" onclick="myPhoto()">图片</a></li>
						<li><a href="javascript:void(0);" onclick="ip()">ip</a></li>
						<li><a href="javascript:void(0);" onclick="admin_redis()">缓存文章</a></li>
						<li><a href="javascript:void(0);" onclick="admin_clear()">清空缓存</a></li>
						<li th:switch="${session.user}">
							<a th:case=null></a>
							<a th:case=* th:text=${session.user.nickname} class="dropdown" href="javascript:void(0);" onclick="loginOut()">登录</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</div>
	</nav>
	<div class="container" style="min-height:700px; padding-top: 116px;position: relative;
    z-index: 1;">
		
			<div id="table_user" style="display: none">
				<table id="grid-basic_user" class="class="table table-condensed table-hover table-striped"">
				    <thead>
				        <tr>
				            <th data-column-id="id">ID</th>
				            <th data-column-id="nickname">昵称</th>
				            <th data-column-id="name">用户名</th>
				            <th data-column-id="password">密码</th>
				            <th data-column-id="rowId">权限id</th>
				            <th data-column-id="realname">真实姓名</th>
				            <th data-column-id="commands" data-formatter="commands">操作</th>
				        </tr>
				    </thead>
				</table>
			</div>
			
			<div id="table_article" style="display: none;position: relative;
    z-index: 1;">
				<table id="grid-basic_article" class="class="table table-condensed table-hover table-striped"">
				    <thead>
				        <tr>
				            <th data-column-id="id">ID</th>
				            <th data-column-id="title">标题</th>
				            <th data-column-id="content">正文</th>
				            <th data-column-id="lead">导语</th>
				            <th data-column-id="create_user">创建人</th>
				            <th data-column-id="create_time">创建时间</th>
				            <th data-column-id="type">类别</th>
				            <th data-column-id="commands" data-formatter="commands">操作</th>
				        </tr>
				    </thead>
				</table>
			</div>
			
			<div id="table_comment" style="display: none;position: relative;
    z-index: 1;">
				<table id="grid-basic_comment" class="class="table table-condensed table-hover table-striped"">
				    <thead>
				        <tr>
				            <th data-column-id="id">ID</th>
				            <th data-column-id="create_user">创建人</th>
				            <th data-column-id="create_time">创建时间</th>
				            <th data-column-id="a_id">文章ID</th>
				            <th data-column-id="message">评价信息</th>
				            <th data-column-id="commands" data-formatter="commands">操作</th>
				        </tr>
				    </thead>
				</table>
			</div>
			
			<div id="table_myPhoto" style="display: none;position: relative;
    z-index: 1;">
				<table id="grid-basic_myPhoto" class="class="table table-condensed table-hover table-striped"">
				    <thead>
				        <tr>
				            <th data-column-id="id">ID</th>
				            <th data-column-id="user_id">用户ID</th>
				            <th data-column-id="photo">图片</th>
				            <th data-column-id="photo_test">图片对应标语</th>
				            <th data-column-id="update_time">更新时间</th>
				            <th data-column-id="commands" data-formatter="commands">操作</th>
				        </tr>
				    </thead>
				</table>
			</div>
			
			<div id="table_myTest" style="display: none;position: relative;
    z-index: 1;">
				<table id="grid-basic_myTest" class="class="table table-condensed table-hover table-striped"">
				    <thead>
				        <tr>
				            <th data-column-id="id">ID</th>
				            <th data-column-id="test_1">铭言</th>
				            <th data-column-id="test_2">格言</th>
				            <th data-column-id="user_id">关联用户ID</th>
				            <th data-column-id="commands" data-formatter="commands">操作</th>
				        </tr>
				    </thead>
				</table>
			</div>
			
			<div id="table_permission" style="display: none;position: relative;
    z-index: 1;">
				<table id="grid-basic_permission" class="class="table table-condensed table-hover table-striped"">
				    <thead>
				        <tr>
				            <th data-column-id="id">ID</th>
				            <th data-column-id="permissionName">权限名</th>
				            <th data-column-id="rowId">角色ID</th>
				            <th data-column-id="commands" data-formatter="commands">操作</th>
				        </tr>
				    </thead>
				</table>
			</div>
			
			<div id="table_role" style="display: none;position: relative;
    z-index: 1;">
				<table id="grid-basic_role" class="class="table table-condensed table-hover table-striped"">
				    <thead>
				        <tr>
				            <th data-column-id="id">ID</th>
				            <th data-column-id="roleName">角色名</th>
				            <th data-column-id="commands" data-formatter="commands">操作</th>
				        </tr>
				    </thead>
				</table>
			</div>
			
			<div id="table_wordMessage" style="display: none;position: relative;
    z-index: 1;">
				<table id="grid-basic_wordMessage" class="class="table table-condensed table-hover table-striped"">
				    <thead>
				        <tr>
				            <th data-column-id="id">ID</th>
				            <th data-column-id="create_user">创建人</th>
				            <th data-column-id="create_time">创建时间</th>
				            <th data-column-id="message">留言信息</th>
				            <th data-column-id="commands" data-formatter="commands">操作</th>
				        </tr>
				    </thead>
				</table>
			</div>
			<div id="table_ip" style="display: none;position: relative;
    z-index: 1;">
				<table id="grid-basic_ip" class="class="table table-condensed table-hover table-striped"">
				    <thead>
				        <tr>
				            <th data-column-id="id">ID</th>
				            <th data-column-id="loginIP">创建ip</th>
				            <th data-column-id="loginTime">登陆时间</th>
				            <th data-column-id="userId">用户id</th>
				            <th data-column-id="userName">用户名字</th>
				            <th data-column-id="commands" data-formatter="commands">操作</th>
				        </tr>
				    </thead>
				</table>
			</div>
		</div>
		
	<!-- 模态框-article -->
	<div class="modal fade" id="model_article" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">编辑</h4>
	      </div>
	      <div class="modal-body">
	        <form id="message_article">
	          <div class="form-group">
	            <label for="message-text" class="control-label">message:</label>
	            	ID：<input type="text" id="article_id" name="id"><br>
	            	标题：<input type="text" id="article_title" name="title"><br>
	            	正文：<input type="text" id="article_content" name="content"><br>
	            	导语：<input type="text" id="article_lead" name="lead"><br>
	            	创建人：<input type="text" id="article_create_user" name="create_user"><br>
	            	创建时间：<input type="text" id="article_create_time" name="create_time"><br>
	            	类型：<input type="text" id="article_type" name="type">
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" onclick="article_save()">保存</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- 模态框-comment -->
	<div class="modal fade" id="model_comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">编辑</h4>
	      </div>
	      <div class="modal-body">
	        <form id="message_comment">
	          <div class="form-group">
	            <label for="message-text" class="control-label">message:</label>
		            ID：<input type="text" id="comment_id" name="id"><br>
		                                    创建人：<input type="text" id="comment_create_user" name="create_user"><br>
		                                    创建时间：<input type="text" id="comment_create_time" name="create_time"><br>
		                                    关联文章ID：<input type="text" id="comment_a_id" name="a_id"><br>
		                                    评价信息：<input type="text" id="comment_message" name="message">
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" onclick="comment_save()">保存</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- 模态框-myPhoto -->
	<div class="modal fade" id="model_myPhoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">编辑</h4>
	      </div>
	      <div class="modal-body">
	        <form id="message_myPhoto">
	          <div class="form-group">
	            <label for="message-text" class="control-label">message:</label>
	            	ID：<input type="text" id="myPhoto_id" name="id"><br>
	            	关联用户ID：<input type="text" id="myPhoto_user_id" name="user_id"><br>
	            	照片一：<input type="text" id="myPhoto_photo_1" name="photo_1"><br>
	            	照片一文字信息：<input type="text" id="myPhoto_photo_1_test" name="photo_1_test"><br>
	            	照片二：<input type="text" id="myPhoto_photo_2" name="photo_2"><br>
	            	照片二文字信息：<input type="text" id="myPhoto_photo_2_test" name="photo_2_test"><br>
	            	照片三：<input type="text" id="myPhoto_photo_3" name="photo_3"><br>
	            	照片三文字信息：<input type="text" id="myPhoto_photo_3_test" name="photo_3_test">
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" onclick="myPhoto_save()">保存</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- 模态框-myTest -->
	<div class="modal fade" id="model_myTest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">编辑</h4>
	      </div>
	      <div class="modal-body">
	        <form id="message_myTest">
	          <div class="form-group">
	            <label for="message-text" class="control-label">message:</label>
	            	ID：<input type="text" id="myTest_id" name="id"><br>
	            	用户铭言：<input type="text" id="myTest_test_1" name="test_1"><br>
	            	用户格言：<input type="text" id="myTest_test_2" name="test_2"><br>
	            	关联的用户id：<input type="text" id="myTest_user_id" name="user_id">
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" onclick="myTest_save()">保存</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- 模态框-permission -->
	<div class="modal fade" id="model_permission" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">编辑</h4>
	      </div>
	      <div class="modal-body">
	        <form id="message_permission">
	          <div class="form-group">
	            <label for="message-text" class="control-label">message:</label>
	            	ID：<input type="text" id="permission_id" name="id"><br>
	            	权限名字：<input type="text" id="permission_permissionName" name="permissionName"><br>
	            	对应的角色id：<input type="text" id="permission_rowId" name="rowId">
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" onclick="permission_save()">保存</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- 模态框-role -->
	<div class="modal fade" id="model_role" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">编辑</h4>
	      </div>
	      <div class="modal-body">
	        <form id="message_role">
	          <div class="form-group">
	            <label for="message-text" class="control-label">message:</label>
	            	ID：<input type="text" id="role_id" name="id"><br>
	            	角色名字：<input type="text" id="role_roleName" name="roleName">
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" onclick="role_save()">保存</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- 模态框-user -->
	<div class="modal fade" id="model_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">编辑</h4>
	      </div>
	      <div class="modal-body">
	        <form id="message_user">
	          <div class="form-group">
	            <label for="message-text" class="control-label">message:</label>
	            	ID：<input type="text" id="user_id" name="id"><br>
	            	昵称：<input type="text" id="user_nickname" name="nickname"><br>
	            	用户名：<input type="text" id="user_name" name="name"><br>
	            	密码：<input type="text" id="user_password" name="password"><br>
	            	对应角色ID：<input type="text" id="user_rowId" name="rowId"><br>
	            	真实名字：<input type="text" id="user_realname" name="realname">
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" onclick="user_save()">保存</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- 模态框-workMessage -->
	<div class="modal fade" id="model_wordMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">编辑</h4>
	      </div>
	      <div class="modal-body">
	        <form id="message_workMessage">
	          <div class="form-group">
	            <label for="message-text" class="control-label">message:</label>
	            	ID：<input type="text" id="wordMessage_id" name="id"><br>
	            	创建人：<input type="text" id="wordMessage_create_user" name="create_user"><br>
	            	创建时间：<input type="text" id="wordMessage_create_time" name="create_time"><br>
	            	留言信息：<input type="text" id="wordMessage_message" name="message">
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" onclick="workMessage_save()">保存</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- 模态框 -->
	<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">编辑我的留言</h4>
	      </div>
	      <div class="modal-body">
	        <form>
	          <div class="form-group">
	            <label for="message-text" class="control-label">留言信息:</label>
	            <textarea class="form-control" id="message"></textarea>
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <button type="button" class="btn btn-primary" id='send_word' onclick="submmit_words()">留言</button>
	      </div>
	    </div>
	  </div>
	</div>
</body>
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/npm.js"></script>
<script type="text/javascript" src="js/jquery.fullPage.js"></script>
<script type="text/javascript" src="layer/layer.js"></script>
<script type="text/javascript" src="js/jquery.bootgrid.min.js"></script>
<script type="text/javascript" src="js/jquery.bootgrid.fa.min.js"></script>
<script>
	
	$("body").click(function(e) {
		var id = e.target.offsetParent.id;
		if (e.target.tabIndex == -1 && id != "head_1") {
			var flag = $("#collapse").attr("aria-expanded");
			if (flag == "true") {
				$("#collapse").removeClass("in");
			}
		}
	})

	
	

	
	
	function loginOut(){
		layer.msg('确定要退出么？', {
			  time: 0 //不自动关闭
			  ,btn: ['咋的，有意见？', '你说退就退啊！']
			  ,yes: function(index){
			    layer.close(index);
			    window.location.href = "loginOut";
			  }
			});
	}

	

	function user(){
		close_all();
		$("#table_user").attr("style","display:block");
		$("#grid-basic_user").bootgrid({
		    ajax: true,
		    url: "/admin_select_user",
		    formatters: {
		        "commands": function(column, row)
		        {
		        	return "<a onclick=\"edit_user('"
		        			+ row.id + "\',\'"
							+ row.nickname + "\',\'"
							+ row.name + "\',\'"
							+ row.password + "\',\'"
							+ row.rowId + "\',\'"
							+ row.realname + 
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\">编辑</a>"
							+ "<a onclick=\"del_user('"
		        			+ row.id +
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\">删除</a>";
		        }
		    }
		});
	}
	
	function article(){
		close_all();
		$("#table_article").attr("style","display:block");
		$("#grid-basic_article").bootgrid({
		    ajax: true,
		    url: "/admin_select_article",
		    formatters: {
		        "commands": function(column, row)
		        {
		        	return "<a onclick=\"edit_article('"
				        	+ row.id + "\',\'"
							+ row.title + "\',\'"
							+ row.content + "\',\'"
							+ row.lead + "\',\'"
							+ row.create_user + "\',\'"
							+ row.create_time + "\',\'"
							+ row.type +
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\">编辑</a>"
							+ "<a onclick=\"del_article('"
		        			+ row.id +
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\">删除</a>";
		        }
		    }
		});
	}
	
	function comment(){
		close_all();
		$("#table_comment").attr("style","display:block");
		$("#grid-basic_comment").bootgrid({
		    ajax: true,
		    url: "/admin_select_comment",
		    formatters: {
		        "commands": function(column, row)
		        {
		        	return "<a onclick=\"edit_comment('"
		        			+ row.id + "\',\'"
		        			+ row.create_user + "\',\'"
							+ row.create_time + "\',\'"
							+ row.a_id + "\',\'"
							+ row.message +
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\">编辑</a>"
							+ "<a onclick=\"del_comment('"
		        			+ row.id +
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\">删除</a>";
		        }
		    }
		});
		
		
	}
	
	function myPhoto(){
		close_all();
		$("#table_myPhoto").attr("style","display:block");
		$("#grid-basic_myPhoto").bootgrid({
		    ajax: true,
		    url: "/admin_select_myPhoto",
		    formatters: {
		        "commands": function(column, row)
		        {
		        	return "<a onclick=\"edit_myPhoto('"
		        			+ row.id + "\',\'"
							+ row.user_id + "\',\'"
							+ row.photo + "\',\'"
							+ row.photo_test + "\',\'"
							+ row.update_time +
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\">编辑</a>"
							+ "<a onclick=\"del_myPhoto('"
		        			+ row.id +
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\">删除</a>";
		        }
		    }
		});
	}
	
	function myTest(){
		close_all();
		$("#table_myTest").attr("style","display:block");
		$("#grid-basic_myTest").bootgrid({
		    ajax: true,
		    url: "/admin_select_myTest",
		    formatters: {
		        "commands": function(column, row)
		        {
		        	return "<a onclick=\"edit_myTest('"
		        			+ row.id + "\',\'"
							+ row.test_1 + "\',\'"
							+ row.test_2 + "\',\'"
							+ row.user_id + 
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\">编辑</a>"
							+ "<a onclick=\"del_myTest('"
		        			+ row.id +
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\">删除</a>";
		        }
		    }
		});
	}
	
	function permission(){
		close_all();
		$("#table_permission").attr("style","display:block");
		$("#grid-basic_permission").bootgrid({
		    ajax: true,
		    url: "/admin_select_permission",
		    formatters: {
		        "commands": function(column, row)
		        {
		        	return "<a onclick=\"edit_permission('"
		        			+ row.id + "\',\'"
							+ row.permissionName + "\',\'"
							+ row.rowId + 
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\">编辑</a>"
							+ "<a onclick=\"del_permission('"
		        			+ row.id +
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\">删除</a>";
		        }
		    }
		});
	}
	
	function role(){
		close_all();
		$("#table_role").attr("style","display:block");
		$("#grid-basic_role").bootgrid({
		    ajax: true,
		    url: "/admin_select_role",
		    formatters: {
		        "commands": function(column, row)
		        {
		        	return "<a onclick=\"edit_role('"
		        			+ row.id + "\',\'"
							+ row.rowName + 
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\">编辑</a>"
							+ "<a onclick=\"del_role('"
		        			+ row.id +
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\">删除</a>";
		        }
		    }
		});
	}
	
	function wordMessage(){
		close_all();
		$("#table_wordMessage").attr("style","display:block");
		$("#grid-basic_wordMessage").bootgrid({
		    ajax: true,
		    url: "/admin_select_wordMessage",
		    formatters: {
		        "commands": function(column, row)
		        {
		        	return "<a onclick=\"edit_wordMessage('"
		        			+ row.id + "\',\'"
		        			+ row.create_user + "\',\'"
							+ row.create_time + "\',\'"
							+ row.message +
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\">编辑</a>"
							+ "<a onclick=\"del_wordMessage('"
		        			+ row.id +
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\">删除</a>";
		        }
		    }
		});
	}
	
	function ip(){
		close_all();
		$("#table_ip").attr("style","display:block");
		$("#grid-basic_ip").bootgrid({
		    ajax: true,
		    url: "/admin_select_ip",
		    formatters: {
		        "commands": function(column, row)
		        {
		        	return "<a onclick=\"edit_wordMessage('"
		        			+ row.id + "\',\'"
		        			+ row.loginIP + "\',\'"
							+ row.time + "\',\'"
							+ row.userId + "\',\'"
							+ row.userName +
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\"></a>"
							+ "<a onclick=\"del_wordMessage('"
		        			+ row.id +
							"')\" style=\"color:red; text-decoration:none;margin-right:10px;cursor:pointer\"></a>";
		        }
		    }
		});
	}
	
	function close_all(){
		$("#table_user").attr("style","display:none");
		$("#table_article").attr("style","display:none");
		$("#table_comment").attr("style","display:none");
		$("#table_myPhoto").attr("style","display:none");
		$("#table_myTest").attr("style","display:none");
		$("#table_role").attr("style","display:none");
		$("#table_permission").attr("style","display:none");
		$("#table_wordMessage").attr("style","display:none");
		$("#table_ip").attr("style","display:none");
	}
	
	function loginOut(){
		layer.msg('确定要退出么？', {
			  time: 0 //不自动关闭
			  ,btn: ['咋的，有意见？', '你说退就退啊！']
			  ,yes: function(index){
			    layer.close(index);
			    window.location.href = "loginOut";
			  }
			});
	}
	
	function edit_article(id,title,content,lead,create_user,create_time,type){
		$("#model_article").modal("show");
		$("#article_id").val(id);
		$("#article_title").val(title);
		$("#article_content").val(content);
		$("#article_lead").val(lead);
		$("#article_create_user").val(create_user);
		$("#article_create_time").val(create_time);
		$("#article_type").val(type);
	}
	
	function edit_comment(id,create_user,create_time,a_id,message){
		$("#model_comment").modal("show");
		$("#comment_id").val(id);
		$("#comment_create_user").val(create_user);
		$("#comment_create_time").val(create_time);
		$("#comment_a_id").val(a_id);
		$("#comment_message").val(message);
	}
	
	function edit_myPhoto(id,user_id,photo_1,photo_1_test,photo_2,photo_2_test,photo_3,photo_3_test){
		$("#model_myPhoto").modal("show");
		$("#myPhoto_id").val(id);
		$("#myPhoto_user_id").val(user_id);
		$("#myPhoto_photo_1").val(photo_1);
		$("#myPhoto_photo_1_test").val(photo_1_test);
		$("#myPhoto_photo_2").val(photo_2);
		$("#myPhoto_photo_2_test").val(photo_2_test);
		$("#myPhoto_photo_3").val(photo_3);
		$("#myPhoto_photo_3_test").val(photo_3_test);
	}
	
	function edit_myTest(id,test_1,test_2,user_id){
		$("#model_myTest").modal("show");
		$("#myTest_id").val(id);
		$("#myTest_test_1").val(test_1);
		$("#myTest_test_2").val(test_2);
		$("#myTest_user_id").val(user_id);
	}
	
	function edit_permission(id,permissionName,rowId){
		$("#model_permission").modal("show");
		$("#permission_id").val(id);
		$("#permission_permissionName").val(permissionName);
		$("#permission_rowId").val(rowId);
	}
	
	function edit_role(id,roleName){
		$("#model_role").modal("show");
		$("#role_id").val(id);
		$("#role_roleName").val(roleName);
	}
	
	function edit_user(id,nickname,name,password,rowId,realname){
		$("#model_user").modal("show");
		$("#user_id").val(id);
		$("#user_nickname").val(nickname);
		$("#user_name").val(name);
		$("#user_password").val(password);
		$("#user_rowId").val(rowId);
		$("#user_realname").val(realname);
	}
	
	function edit_wordMessage(id,create_user,create_time,message){
		$("#model_wordMessage").modal("show");
		$("#wordMessage_id").val(id);
		$("#wordMessage_create_user").val(create_user);
		$("#wordMessage_create_time").val(create_time);
		$("#wordMessage_message").val(message);
	}
	
	function del_article(id){
		$.ajax({
			type : "post",
			url : "/admin_delete_article",
			data : {"id":id},
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('删除失败', function(){});
            },
            success: function(data) {
                if(data == "success"){
                	layer.msg('删除成功');
	         // 	$("#model_article").bootgrid("reload");
                }
            }
		});
			window.location.reload();
	}
	
	function del_comment(id){
		$.ajax({
			type : "post",
			url : "/admin_delete_comment",
			data : {"id":id},
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('删除失败', function(){});
            },
            success: function(data) {
                if(data == "success"){
                	layer.msg('删除成功');
	         // 	$("#model_article").bootgrid("reload");
                }
            }
		});
			window.location.reload();
	}
	
	function del_myPhoto(id){
		$.ajax({
			type : "post",
			url : "/admin_delete_myPhoto",
			data : {"id":id},
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('删除失败', function(){});
            },
            success: function(data) {
                if(data == "success"){
                	layer.msg('删除成功');
	         // 	$("#model_article").bootgrid("reload");
                }
            }
		});
			window.location.reload();
	}
	
	function del_myTest(id){
		$.ajax({
			type : "post",
			url : "/admin_delete_myTest",
			data : {"id":id},
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('删除失败', function(){});
            },
            success: function(data) {
                if(data == "success"){
                	layer.msg('删除成功');
	         // 	$("#model_article").bootgrid("reload");
                }
            }
		});
			window.location.reload();
	}
	
	function del_permission(id){
		$.ajax({
			type : "post",
			url : "/admin_delete_permission",
			data : {"id":id},
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('删除失败', function(){});
            },
            success: function(data) {
                if(data == "success"){
                	layer.msg('删除成功');
	         // 	$("#model_article").bootgrid("reload");
                }
            }
		});
			window.location.reload();
	}
	
	function del_role(id){
		$.ajax({
			type : "post",
			url : "/admin_delete_role",
			data : {"id":id},
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('删除失败', function(){});
            },
            success: function(data) {
                if(data == "success"){
                	layer.msg('删除成功');
	         // 	$("#model_article").bootgrid("reload");
                }
            }
		});
			window.location.reload();
	}
	
	function del_user(id){
		$.ajax({
			type : "post",
			url : "/admin_delete_user",
			data : {"id":id},
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('删除失败', function(){});
            },
            success: function(data) {
                if(data == "success"){
                	layer.msg('删除成功');
	         // 	$("#model_article").bootgrid("reload");
                }
            }
		});
			window.location.reload();
	}
	
	function del_wordMessage(id){
		$.ajax({
			type : "post",
			url : "/admin_delete_wordMessage",
			data : {"id":id},
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('删除失败', function(){});
            },
            success: function(data) {
                if(data == "success"){
                	layer.msg('删除成功');
	         // 	$("#model_article").bootgrid("reload");
                }
            }
		});
			window.location.reload();
	}
	
	function article_save(){
		$.ajax({
			type : "post",
			url : "/admin_update_article",
			data : $("#message_article").serialize(),
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('修改失败', function(){});
            },
            success: function(data) {
                if(data == "success"){
                	layer.msg('修改成功');
	         // 	$("#model_article").bootgrid("reload");
                }
            }
		});
			window.location.reload();
	}
	
	function comment_save(){
		$.ajax({
			type : "post",
			url : "/admin_update_comment",
			data : $("#message_comment").serialize(),
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('修改失败', function(){});
            },
            success: function(data) {
                if(data == "success"){
                	layer.msg('修改成功');
	         // 	$("#model_article").bootgrid("reload");
                }
            }
		});
			window.location.reload();
	}
	
	function myPhoto_save(){
		$.ajax({
			type : "post",
			url : "/admin_update_myPhoto",
			data : $("#message_myPhoto").serialize(),
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('修改失败', function(){});
            },
            success: function(data) {
                if(data == "success"){
                	layer.msg('修改成功');
	         // 	$("#model_article").bootgrid("reload");
                }
            }
		});
			window.location.reload();
	}
	
	function myTest_save(){
		$.ajax({
			type : "post",
			url : "/admin_update_myTest",
			data : $("#message_myTest").serialize(),
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('修改失败', function(){});
            },
            success: function(data) {
                if(data == "success"){
                	layer.msg('修改成功');
	         // 	$("#model_article").bootgrid("reload");
                }
            }
		});
			window.location.reload();
	}
	
	function permission_save(){
		$.ajax({
			type : "post",
			url : "/admin_update_permission",
			data : $("#message_permission").serialize(),
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('修改失败', function(){});
            },
            success: function(data) {
                if(data == "success"){
                	layer.msg('修改成功');
	         // 	$("#model_article").bootgrid("reload");
                }
            }
		});
			window.location.reload();
	}
	
	function role_save(){
		$.ajax({
			type : "post",
			url : "/admin_update_role",
			data : $("#message_role").serialize(),
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('修改失败', function(){});
            },
            success: function(data) {
                if(data == "success"){
                	layer.msg('修改成功');
	         // 	$("#model_article").bootgrid("reload");
                }
            }
		});
			window.location.reload();
	}
	
	function user_save(){
		$.ajax({
			type : "post",
			url : "/admin_update_user",
			data : $("#message_user").serialize(),
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('修改失败', function(){});
            },
            success: function(data) {
                if(data == "success"){
                	layer.msg('修改成功');
	         // 	$("#model_article").bootgrid("reload");
                }
            }
		});
			window.location.reload();
	}
	
	function wordMessage_save(){
		$.ajax({
			type : "post",
			url : "/admin_update_wordMessage",
			data : $("#message_wordMessage").serialize(),
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('修改失败', function(){});
            },
            success: function(data) {
                if(data == "success"){
                	layer.msg('修改成功');
	         // 	$("#model_article").bootgrid("reload");
                }
            }
		});
			window.location.reload();
	}
	
	function admin_redis(){
		$.ajax({
			type : "post",
			url : "/admin_redis",
			error: function(request) {
				layer.msg('缓存失败', function(){});
            },
            success: function(data) {
                if(data == "redis_success"){
                	layer.msg('缓存成功');
                }
            }
		});
	}
	
	function admin_clear(){
		$.ajax({
			type : "post",
			url : "/admin_clear",
			error: function(request) {
				layer.msg('清空失败', function(){});
            },
            success: function(data) {
                if(data == "redis_clear"){
                	layer.msg('清空成功');
                }
            }
		});
	}
	
	
</script>
</html>