<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<head>
<title>详情</title>
<link rel="shortcut icon" href="images/logo.ico" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<style type="text/css">
.navbar-inverse {
	background-color: #2220;
	height: 80px;
	border-color: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,
	.navbar-inverse .navbar-nav>.open>a:focus {
	color: #fff;
	background-color: #08080800;
}

.footer {
	color: black;
	clear: both;
	/* background-color:#00000099; */
	position: absolute;
	bottom: 0;
	width: 100%;
}

#content_page {
	padding-top: 110px;
}

li {
	list-style-type:none;
}

@media screen and (min-width: 768px) {
	#img_background {
		bottom: 0;
	}
}

@media screen and (max-width: 768px) {
	#bs-example-navbar-collapse-1 {
		background: #000;
		float: right;
	}
	.navbar-header {
		padding-top: 15px;
	}
	.navbar-inverse {
		height: 100px;
	}
	.navbar-inverse .navbar-toggle {
		border-color: #3330;
	}
}
</style>
</head>
<body>


	<!--ͷ??-->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container" style="padding-top: 15px;">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" id="head_1" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#collapse"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="index.html" id="speak"><img id="img_logo"
						src="images/logo.ico"
						style="height: 20px; width: 20px; float: left; position: initial;" /><span
						style="font-size: 20px; font-family: cursive; margin-left: -8px;">&nbsp大花的博客<span
							style="color: red;">.</span></span></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">提笔 <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/write?type=1">技术交流</a></li>
								<li><a href="/write?type=2">我的困惑</a></li>
								<li><a href="/write?type=3">谈谈生活</a></li>
							</ul></li>
						<li><a href="myworld">个人</a></li>
						<li><a href="javascript:scroll(0,0)" onclick="words_block()">留言</a></li>
						<li th:switch="${session.user}"><a th:case=null href="login">登录</a>
							<a th:case=* th:text='${session.user.nickname}' class="dropdown"
							href="javascript:void(0);" onclick="loginOut()">登录</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</div>
	</nav>
	<div
		style="background-image: url(images/single.jpg); position: absolute; top: 0; left: 0; right: 0; background-size: cover;"
		id="img_background"></div>
	<div id="content_page">
		<div class="container">
			<div class="row" style="text-align: center;">
				<div class="col-xs-0 col-md-1"></div>
				<div class="col-xs-12 col-md-6">
					<div>
						<div class="col-md-12">
							<ul id="gtco-post-list">
								<li>
									<span>
										<div>
											<h3 th:text=${article.title}></h3>
											<div>
												<span th:utext=${article.content} style="color: #000000b5;"></span>
											</div>
										</div>
									</span> 
									<span> 
										<span class="date-posted" th:onclick="'go_people('+${article.id}+');'" th:text=${article.create_user}>作者</span> 
										<span th:text=${article.create_time}>时间</span>
									</span>
								</li>
							</ul>
							<div>
								<textarea style="background: #fff;" id="message" class="form-control" placeholder="参与评论" onclick="texttareas()" rows="1"></textarea>
							</div>
							<div id="submitBtn" style="display: none">
								<button type="button" class="btn btn-primary" id='sumitEva'
									style="float: left; margin-top: 10px; margin-bottom: 0px;"
									th:onclick="'javascript:submmit('+${article.id}+');'">提交评价</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-0 col-md-1"></div>
				<div class="col-xs-12 col-md-3" style="padding-bottom: 80px;">
					<div>
						<ul class="list-group">
							<li th:each="comment: ${commentList}">
								<div>
									<div style="border: 1px solid rgba(51, 183, 134, 0.45)"
										th:text=${comment.message}></div>
								</div>
								<div style="text-align: right;">
									<span th:text=${comment.create_user}></span> &nbsp&nbsp&nbsp<span
										th:text=${comment.create_time}></span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xs-0 col-md-1"></div>
			</div>
		</div>
	</div>
	<div class='footer'>
		<div
			style="text-align: center; padding-top: 20px; padding-bottom: 10px;">
			<p>
				<small class="block">&copy; September 1 2017. Website all
					information from <a title="大花">大花的博客</a> - All Rights Reserved 版权所有
				</small>
			</p>
		</div>
	</div>
</body>
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/npm.js"></script>
<script type="text/javascript" src="layer/layer.js"></script>
<script>
	/*$("body:not(#head_1)").click(function(e){
		alert(111);
	      $("#bs-example-navbar-collapse-1").removeClass("in");
	   
	})*/
	function submmit(id){
		$("#sumitEva").attr("disabled", true);
		var message = $("#message").val();
		if(message == "" || message == null){
			layer.msg('评价信息不能为空', function(){});
			$("#sumitEva").attr("disabled", false);
		}else{
			$.ajax({
				type : "post",
				url : "/comment_insert",
				data :{"a_id":id,"message":message},
				cache: false,
				async: false,
				error: function(request) {
					layer.msg('请登陆后评价', function(){});
	            },
	            success: function(data) {
	            	if(data == "success"){
		            	window.location.reload();
	            	}else{
	            		layer.msg('请登陆后评价', function(){});
	            	}
	            }
			});
		}
	}
	
	function loginOut(){
		layer.msg('确定要退出么？', {
			  time: 0 //不自动关闭
			  ,btn: ['咋的，有意见？', '你说退就退啊！']
			  ,yes: function(index){
			    layer.close(index);
			    window.location.href = "loginOut";
			  }
			});
	}
	
	//按钮延时设置（废弃）
//		$(function(){
//			var countdown=3;
// 		$("#sumitEva").attr("disabled", true); 
// 		setTimeout("closeCol()",3000);
//		})
	
//		function closeCol(){
//			$("#sumitEva").attr("disabled", false); 
//		}
	
	//进入其他人主页的方法
	function go_people(id){
		window.location.href="/myworld?modify=no&articleId="+id;
	}
	
	function texttareas(){
		$.ajax({
			type : "post",
			url : "/userLoginOr",
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('请登陆后评价', function(){});
            },
            success: function(data) {
        		if(data!=""){
    				$("#message").attr("rows","3");
    				$("#submitBtn").attr("style","display:block")
    			}else{
    				layer.msg('请登陆后评价', function(){});
    			}
            }
		});
	}
</script>
</html>