<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="images/logo.ico" />
<head>
	<title>个人页面</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" href="css/webuploader.css">
<style type="text/css">
   .navbar-inverse 
	{
	    height: 80px;
	    border-color: white;
	}
	.navbar-inverse .navbar-nav > li > a 
	{
	    color: white;
	}
	.navbar-inverse .navbar-brand 
	{
	    color: white;
	}
	.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus 
	{
	    color: #fff;
	    background-color: #08080800;
	}
	.footer
	{
		color:black;
		clear: both;
		/* background-color:#00000099; */
		position:absolute;
		width: 100%;
		bottom:0;
	}
	#content_page
	{
		padding-top: 110px;
	}
	li 
	{
		list-style-type:none;
	}
	a:link 
	{
		text-decoration:none;
	} 
	a:visited 
	{
		color:purple;
	}
	#logo_text
	{
		padding-top: 41.5px;
	}
	img
	{
		height: 137px!important;
	}
	.webuploader-pick{
		color:#333;
		padding:0;
		display:block;
		background: #00b7ee;
	}
	#logo_text
{
	font-size: 20px; 
}
	@media screen and (min-width: 768px)
	{
		#img_background
		{
			bottom:0;
		}
	}
	@media screen and (max-width: 768px)
	{
		#bs-example-navbar-collapse-1
		{
			background: #000;
    		float: right;
		}
		.navbar-header
		{
			padding-top: 15px;
		}
		.navbar-inverse 
		{
		    height: 100px;
		}
		.navbar-inverse .navbar-toggle 
		{
		    border-color: #3330;
		}
		img
		{
			height: 100px!important;
		}
		#logo_text
		{
			padding-top: 21.5px;
		}
		#collapse 
		{
		    background: #000;
		    float: right;
		}
		#myJournal
		{
			margin-top: 0px;
		}
		#logo_text
		{
			font-size: 16px; 
		}
	}
</style>
</head>
<body style="background: #e6e6e6;">
<div id='all_page' style="position: relative;">
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgba(0,0,0,0);">
	<div class="container" style="padding-top: 15px;">
		  <div class="container-fluid">
			    <div class="navbar-header">
				      <button type="button" id="head_1" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>

			      	<a class="navbar-brand" href="index.html" id="speak"><img id="img_logo" src="images/logo.ico" style="height: 20px!important;width: 20px!important;float: left;position: initial;"/><span style="font-size: 20px;font-family: cursive;margin-left: -8px;" id='logo_text'>&nbsp大花博客<span style="color: red;">.</span></span></a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="collapse">
				       <ul class="nav navbar-nav navbar-right">
					       	 <li class="dropdown">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">提笔 <span class="caret"></span></a>
					          <ul class="dropdown-menu">
					            <li><a href="/write?type=1">技术交流</a></li>
								<li><a href="/write?type=2">我的困惑</a></li>
								<li><a href="/write?type=3">谈谈生活</a></li>
					          </ul>
					        </li>
					        <li><a href="myworld">个人</a></li>
							<li><a href="javascript:scroll(0,0)" onclick="words_block()">留言</a></li>
							<li th:switch="${session.user}">
								<a th:case=null href="login">登录</a>
								<a th:case=* th:text='${session.user.nickname}' class="dropdown" href="javascript:void(0);" onclick="loginOut()">登录</a>
							</li>		
				      </ul>
			    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
	</div>
</nav>
<div style="position: relative;height: 300px;">
	<div style="background-image:url(http://www.loveding.top:8089/dahuablog_image/bg.jpg);position: absolute;bottom: 0;top: 0;left: 0;right: 0;background-size: cover;">
	</div>
</div>
<div style="color: white;position: absolute;top: 16%;left: 30%;">	
	<h1 style="display: inline-block" th:text=${nickname}>大花博客</h1>
	<img id="follow" src="images/wgz.png" style="display:none;height: 32px!important;width: 32px;margin-left: 10px;" title="关注" onclick="guanzhu()">
</div>
<div class="container-fluid" style="height: 160px;">
    <div class="row">
	  	<div class="col-xs-0 col-md-1"></div>
	    <div th:switch="${test1}" id="change_m" class="col-xs-12 col-md-5" data-toggle="modal" data-target="#exampleModal" style="height:100px;text-align: center">
			<h2 th:case=null id="logo_text">点击修改我的铭言</h2>
			<h2 id="logo_text" th:case=* th:text=${test1}></h2>  
			<cite th:text="'by - ' + ${nickname}">&mdash; Jean Smith</cite>
	    </div>
	    <div class="col-xs-0 col-md-1"></div>
	    <div th:switch="${test2}" id="change_j" class="col-xs-12 col-md-5" data-toggle="modal" data-target="#exampleModal1">
			<h3 id='interoduce'>我的介绍</h3>
				<div style="height: 100px;background-color: #00800061;">
					<p th:case=null>点击修改我的留言</p>
					<p id="test_2" th:case=* th:text=${test2}></p> 
				</div>
	    </div>
	</div>
</div>
<div class="container-fluid" style="padding-bottom: 60px;">
    <div class="row">
	  	<div class="col-xs-0 col-md-1"></div>
	    <div class="col-xs-12 col-md-5">
	    	<h3 id='myPho'>我的美照</h3>
			<div class="container-fluid" style="padding-top: 10px;">
    			<div class="row">
    				<!--显示图片的地方 -->
					<div th:each="iter,iterStat:${image_list}" class="col-xs-4 col-md-4" >
						<figure>
							<img th:src='${iter.image}' class="img-responsive">
							<figcaption><p th:text=${iter.text}></p></figcaption>
						</figure>
					</div>
					<div style="float: right;">
						<a href="javascript:void(0);" onclick="modal_show()" id="uplaod_text">上传照片</a>
						<a href="user_photo" th:href="@{/user_photo(nickname=${nickname})}">查看相册</a>
					</div>
    			</div>
		    </div>
		    <div id='phone_file_input' style="display: none">
				<div id="uploader-demo">  
				    <!--用来存放item-->  
				    <div id="thelist" class="uploader-list"></div>  
				    <div>  
					    <button id="filePicker" class="btn btn-default" style="padding:1px 6px">选择文件</button>
					    <input type="text" id = "test_photo" style="border-radius: 5px;border: 1px solid #ccc;"> 
					    <button id="ctlBtn" class="btn btn-default" style="padding:1px 6px">开始上传</button>
				    </div>
			    </div>
			</div>
	    </div>
	    <div class="col-xs-0 col-md-1"></div>
	    <div class="col-xs-12 col-md-5">
	    	<h3 id="myJournal" class="related-title animate-box" style="padding-bottom: 10px;">最新日志</h3>
			<div th:each="alist: ${list}" style="padding-left: 10px;">
				<a href="single.html" th:href="@{/single(id=${alist.id})}">
					<div>
						<h4 th:text="${alist.title}">title</h4>
					</div>
				</a>
				<div>
					 <span class="date-posted" th:text=${alist.create_user}>作者</span>
				  	 <span class="date-posted" th:text=${alist.create_time}>时间</span>
				</div>
			</div>
			<div>
				<a href="user_article" th:href="@{/user_article(nickname=${nickname})}" style="float: right;">查看日志簿</a>
			</div>
	    </div>
    </div>
</div>
<div class='footer'>
	<div style="text-align: center;padding-bottom: 10px;">
		<p><small class="block">&copy; September 1 2017. 黑 ICP 备 18000243 号 - All Rights Reserved</small></p>
	</div>
</div>
<!-- 模态框 -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">编辑我的铭言</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="control-label">message:</label>
            <textarea class="form-control" id="message-text1"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="save()">保存</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">编辑我的格言</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="control-label">message:</label>
            <textarea class="form-control" id="message-text2"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="save()">保存</button>
      </div>
    </div>
  </div>
</div>
</div>
<!-- 模态框 -->
	<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">编辑我的留言</h4>
	      </div>
	      <div class="modal-body">
	        <form>
	          <div class="form-group">
	            <label for="message-text" class="control-label">留言信息:</label>
	            <textarea class="form-control" id="message"></textarea>
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <button type="button" class="btn btn-primary" id='send_word' onclick="submmit_words()">留言</button>
	      </div>
	    </div>
	  </div>
	</div>
</body>
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/npm.js"></script>
<script type="text/javascript" src="layer/layer.js"></script>
<script src="js/webuploader.js"></script>
<script>
		window.onload = function() {
			var winHeight = document.documentElement.clientHeight;
			$("#all_page").css("min-height", winHeight);
		}
		function modal_show() {
			if($("#phone_file_input").attr("style")=="display:block"){
				$("#phone_file_input").attr("style","display:none");
				$("#uplaod_text").text("上传照片");
			}else{
				$("#phone_file_input").attr("style","display:block");
				$("#uplaod_text").text("关闭上传");
		}
		
		$("body").click(function(e) {
			var id = e.target.offsetParent.id;
			if (e.target.tabIndex == -1 && id != "head_1") {
				var flag = $("#collapse").attr("aria-expanded");
				if (flag == "true") {
					$("#collapse").removeClass("in");
				}
			}
		})
		
		/*init webuploader*/  
	  	   var $list=$("#thelist");   //这几个初始化全局的百度文档上没说明，好蛋疼。  
	  	   var $btn =$("#ctlBtn");   //开始上传  
	  	   var thumbnailWidth = 100;   //缩略图高度和宽度 （单位是像素），当宽高度是0~1的时候，是按照百分比计算，具体可以看api文档  
	  	   var thumbnailHeight = 100;  
	  	  
	  	   var uploader = WebUploader.create({  
	  	       // 选完文件后，是否自动上传。  
	  	       auto: false,  
	  	  
	  	       // swf文件路径  
	  	       swf: 'js/Uploader.swf',  
	  	  
	  	       // 文件接收服务端。  
	  			server : '/photo_uplode',
	  
	 				sendAsBinary : true, 
	  	  
	  	       // 选择文件的按钮。可选。  
	  	       // 内部根据当前运行是创建，可能是input元素，也可能是flash.  
	  	       pick: '#filePicker',  
	  	  
	  	       // 只允许选择图片文件。  
	  	       accept: {  
	  	           title: 'Images',  
	  	           extensions: 'gif,jpg,jpeg,bmp,png',  
	  	           mimeTypes: 'image/*'  
	  	       }, 
	  	       method:'POST',  
	  	   });  
	  	   // 当有文件添加进来的时候  
	  	   uploader.on( 'fileQueued', function( file ) {  // webuploader事件.当选择文件后，文件被加载到文件队列中，触发该事件。等效于 uploader.onFileueued = function(file){...} ，类似js的事件定义。  
	  	       var $li = $(  
	  	               '<div id="' + file.id + '" class="file-item thumbnail">' +  
	  	                   '<img>' +  
	  	                   '<div class="info">' + file.name + '</div>' +  
	  	               '</div>'  
	  	               ),  
	  	           $img = $li.find('img');  
	  	  
	  	  
	  	       // $list为容器jQuery实例  
	  	       $list.append( $li );  
	  	  
	  	       // 创建缩略图  
	  	       // 如果为非图片文件，可以不用调用此方法。  
	  	       // thumbnailWidth x thumbnailHeight 为 100 x 100  
	  	       uploader.makeThumb( file, function( error, src ) {   //webuploader方法  
	  	           if ( error ) {  
	  	               $img.replaceWith('<span>不能预览</span>');  
	  	               return;  
	  	           }  
	  	  
	  	           $img.attr( 'src', src );  
	  	       }, thumbnailWidth, thumbnailHeight );  
	  	   });  
	  	   
	  	   uploader.on( 'uploadBeforeSend', function( block, data ) {  
	  		    // block为分块数据。  
	  		    // file为分块对应的file对象。  
	  		    var file = block.file;
	  		    // 修改data可以控制发送哪些携带数据。  
	  		    data.test_photo = $("#test_photo").val();  
	  		});  
	  	   
	  	   // 文件上传过程中创建进度条实时显示。  
	  	   uploader.on( 'uploadProgress', function( file, percentage ) {  
	  	       var $li = $( '#'+file.id ),  
	  	           $percent = $li.find('.progress span');  
	  	  
	  	       // 避免重复创建  
	  	       if ( !$percent.length ) {  
	  	           $percent = $('<p class="progress"><span></span></p>')  
	  	                   .appendTo( $li )  
	  	                   .find('span');  
	  	       }  
	  	  
	  	       $percent.css( 'width', percentage * 100 + '%' );  
	  	   });  
	  	  
	  	   // 文件上传成功，给item添加成功class, 用样式标记上传成功。  
	  	   uploader.on( 'uploadSuccess', function( file ) {  
	  	       $( '#'+file.id ).addClass('upload-state-done');  
	  	       window.location.reload();
	  	   });  
	  	   
	  	   // 文件上传失败，显示上传出错。  
	  	   uploader.on( 'uploadError', function( file ) {  
	  	       var $li = $( '#'+file.id ),  
	  	           $error = $li.find('div.error');  
	  	  
	  	       // 避免重复创建  
	  	       if ( !$error.length ) {  
	  	           $error = $('<div class="error"></div>').appendTo( $li );  
	  	       }  
	  	  
	  	       $error.text('上传失败');  
	  	   });  
	  	  
	  	   // 完成上传完了，成功或者失败，先删除进度条。  
	  	   uploader.on( 'uploadComplete', function( file ) {  
	  	       $( '#'+file.id ).find('.progress').remove();  
	  	   });  
	  	      $btn.on( 'click', function() {  
	  	        console.log("上传...");  
	  	        uploader.upload();  
	  	        console.log("上传成功"); 
	  	      });
	}
	 $(function(){  
  	     
  	  });  
	 
	 function loginOut(){
		layer.msg('确定要退出么？', {
			  time: 0 //不自动关闭
			  ,btn: ['咋的，有意见？', '你说退就退啊！']
			  ,yes: function(index){
			    layer.close(index);
			    window.location.href = "loginOut";
			  }
		});
	 }
	 
	//判断是用户自己访问主页还是其他人访问
		$(function(){
			var not_see = '[[${not_see}]]';
			var modify = '[[${modify}]]';
			if('yes' == not_see){
				$("#uplaod_text").attr("style","display: none;");
			}
			if('no' == modify){
				$("#myPho").text("他的美照");
				$("#interoduce").text("他的留言");
				$("#change_j").attr("data-toggle","");
				$("#change_j").attr("data-target","");
				$("#change_m").attr("data-toggle","");
				$("#change_m").attr("data-target","");
				$("#uplaod_text").attr("style","display: none;");
				$("#follow").show();
			}
		})
	 
	//保存铭言和简介
	function save(){
		var test1 = $("#message-text1").val();
		var test2 = $("#message-text2").val();
		if(test1 == "" || test1 == null){
			test1 = '[[${test1}]]';
		}
		if(test2 == "" || test2 == null){
			test2 = '[[${test2}]]';
		}
		$.ajax({
			type : "post",
			url : "/save_mytest",
			data : {"test1":test1,"test2":test2},
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('保存失败', function(){});
            },
            success: function(data) {
                if(data == "error"){
                	layer.msg('保存失败', function(){});
                }else if(data == "success"){
                	window.location.href = "myworld";
                }
            }
		});
	}
	
		function words_block() {
			$("#Modal").modal("show");
		}

		
		//提交留言
		function submmit_words(){
			var words_mess = $("#message").val();
			$("#send_word").attr("disabled", true);
			if(words_mess==null || words_mess==""){
				$("#send_word").attr("disabled", false);
				layer.msg('请填写留言后在提交', function(){});
				return false;
			}
			$.ajax({
				type : "post",
				url : "/words_mess",
				data : {"words_mess":words_mess},
				cache: false,
				async: false,
				error: function(request) {
					layer.msg('留言失败', function(){});
					$("#send_word").attr("disabled", false);
	            },
	            success: function(data) {
	                if(data == "success"){
	                	layer.msg('留言成功');
	                	$("#send_word").attr("disabled", false);
	                	$("#Modal").modal("hide");
	                }
	            }
			});
		}
		
		function guanzhu(){
			var articleId = '[[${articleId}]]';
			$.ajax({
				type : "post",
				url : "/follow",
				data : {"articleId":articleId},
				cache: false,
				async: false,
				error: function(request) {
					layer.msg('关注失败', function(){});
	            },
	            success: function(data) {
	                if(data == "success"){
	                	$("#follow").attr('src','images/ygz.png');
	                	layer.msg('关注成功');
	                }
	            }
			});
		}

</script>
</body>
</html>