<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
	<title>大花博客</title>
<link rel="shortcut icon" href="http://www.loveding.top:8089/dahuablog_image/logo_black.jpg" />
<style>
    div
    {
       position:absolute;   //必不可少
       top: 50%;
	   left: 50%;
	   margin-left: -69px;
	   margin-top: 0px;
    }
</style>
</head>
<body style="overflow: hidden;">
<div id="logo">
	<img src="images/logo_black.jpg" style="width:138px;height: 123px;">
</div>

<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script>
	var winHeight = $(document).height();
	var toppx = winHeight;
	$(function(){
		$("#logo").animate({ top:winHeight},2000,function(){
			  window.location.href="index"; 
		})
	})
</script>
</body>
</html>