<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<head>
<title>详情</title>
<link rel="shortcut icon" href="images/logo.ico" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<style type="text/css">
.navbar-inverse {
	height: 80px;
	border-color: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,
	.navbar-inverse .navbar-nav>.open>a:focus {
	color: #fff;
	background-color: #08080800;
}

.footer {
	color: black;
	clear: both;
	/* background-color:#00000099; */
	position: absolute;
	width: 100%;
	bottom:0;
}

#content_page {
	padding-top: 110px;
}

li {
	list-style-type:none;
}
a:link 
{
	text-decoration:none;
} 
a:visited 
{
	color:purple;
}
ul
{
    margin-left: -40px;
}
#logo_text
{
	font-size: 20px; 
}
@media screen and (min-width: 768px) {
	#img_background {
		bottom: 0;
	}
}

@media screen and (max-width: 768px) {
	#bs-example-navbar-collapse-1 {
		background: #000;
		float: right;
	}
	.navbar-header {
		padding-top: 15px;
	}
	.navbar-inverse {
		height: 100px;
	}
	.navbar-inverse .navbar-toggle {
		border-color: #3330;
	}
	#collapse 
	{
	    background: #000;
	    float: right;
	}
	#logo_text
	{
		font-size: 16px; 
	}
}
</style>
</head>
<body>


	<!--ͷ??-->
	<div id='all_page' style="position: relative;">
	<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgba(0,0,0,0);">
		<div class="container" style="padding-top: 15px;">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" id="head_1" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#collapse"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="index.html" id="speak"><img id="img_logo"
						src="images/logo.ico"
						style="height: 20px; width: 20px; float: left; position: initial;" /><span
						style="font-size: 20px; font-family: cursive; margin-left: -8px;" id='logo_text'>&nbsp大花博客<span
							style="color: red;">.</span></span></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">提笔 <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/write?type=1">技术交流</a></li>
								<li><a href="/write?type=2">我的困惑</a></li>
								<li><a href="/write?type=3">谈谈生活</a></li>
							</ul></li>
						<li><a href="myworld">个人</a></li>
						<li><a href="javascript:scroll(0,0)" onclick="words_block()">留言</a></li>
						<li th:switch="${session.user}"><a th:case=null href="login">登录</a>
							<a th:case=* th:text='${session.user.nickname}' class="dropdown"
							href="javascript:void(0);" onclick="loginOut()">登录</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</div>
	</nav>
	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(http://www.loveding.top:8089/dahuablog_image/single.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-7 text-left">
					<div class="display-t" style="height:auto;padding-top:130px;padding-bottom: 100px;">
						<div class="display-tc animate-box" data-animate-effect="fadeInUp" style="height:auto;">
							<h1 class="mb30" th:text=${article.title}></h1>
							<p style="float: right;font-size: 20px;padding-top: 20px;">by <a class="text-link" th:onclick="'go_people('+${article.id}+');'" th:text=${article.create_user}></a>
							&nbsp&nbsp&nbsp<span class="date-post" th:text=${article.create_time}></span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div id="gtco-maine">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-12">
					<ul id="gtco-post-list">
						<li class="full entry animate-box" data-animate-effect="fadeIn">
							<div>
								<div class="entry-desc">
									<h3 th:text=${article.title} style="text-align: center;padding: 10px;"></h3>
									<div>
										<span th:utext=${article.content} style="color: #000000b5;line-height: 35px;font-size: 16px;"></span>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div style="clear:both;"></div>
					<div><textarea style="background:#fff;margin: 30px 0 30px 0;" id="message" class="form-control" placeholder="参与评论" onclick="texttareas()" rows="1"></textarea> </div>
					<div id="submitBtn" style="display: none">
						<button type="button" class="btn btn-primary" id='sumitEva' style="float: left;margin-top: -20px;margin-bottom: 20px;" th:onclick="'javascript:submmit('+${article.id}+');'">提交评价</button>
					</div>
					
					<!-- <div th:each="comment: ${commentList}">
						<div><div style="border:1px solid rgba(51, 183, 134, 0.45)" th:text=${comment.message}></div></div>
						<div style="text-align:right;"><span th:text=${comment.create_user}></span>
							&nbsp&nbsp&nbsp<span th:text=${comment.create_time}></span></div>
					</div> -->
					
					<div class="container-fluid" style="padding-bottom: 50px;">
						<div class="row">
							<div class="col-xs-12 col-md-7">
								<ul>
									<li th:each="comment: ${commentList}">
									     <div style="padding-left:0px;">
									         <div style="background-color: #0080003b;">
									            <h4 style="padding: 5px;font-size: 15px;">
									               <a th:text=${comment.create_user}></a> (愿这世界如童话，抱着想象实现它)
									               <span th:text=${comment.create_time}></span>
									            </h4>
									         </div>
									         <p th:text=${comment.message} style="margin-left: 20px;"></p>
									     </div>
									 </li>
								 </ul>
							</div>
							<div class="col-xs-0 col-md-5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class='footer'>
		<div
			style="text-align: center; padding-top: 20px; padding-bottom: 10px;">
			<p><small class="block">&copy; September 1 2017. 黑 ICP 备 18000243 号 - All Rights Reserved</small></p>
		</div>
	</div>
	</div>
	<!-- 模态框 -->
	<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">编辑我的留言</h4>
	      </div>
	      <div class="modal-body">
	        <form>
	          <div class="form-group">
	            <label for="message-text" class="control-label">留言信息:</label>
	            <textarea class="form-control" id="message"></textarea>
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <button type="button" class="btn btn-primary" id='send_word' onclick="submmit_words()">留言</button>
	      </div>
	    </div>
	  </div>
	</div>
</body>
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/npm.js"></script>
<script type="text/javascript" src="layer/layer.js"></script>
<script>
	window.onload = function() {
		var winHeight = document.documentElement.clientHeight;
		$("#all_page").css("min-height", winHeight);
	}

	$("body").click(function(e) {
		var id = e.target.offsetParent.id;
		if (e.target.tabIndex == -1 && id != "head_1") {
			var flag = $("#collapse").attr("aria-expanded");
			if (flag == "true") {
				$("#collapse").removeClass("in");
			}
		}
	})
	function submmit(id){
		$("#sumitEva").attr("disabled", true);
		var message = $("#message").val();
		if(message == "" || message == null){
			layer.msg('评价信息不能为空', function(){});
			$("#sumitEva").attr("disabled", false);
		}else{
			$.ajax({
				type : "post",
				url : "/comment_insert",
				data :{"a_id":id,"message":message},
				cache: false,
				async: false,
				error: function(request) {
					layer.msg('请登陆后评价', function(){});
	            },
	            success: function(data) {
	            	if(data == "success"){
		            	window.location.reload();
	            	}else{
	            		layer.msg('请登陆后评价', function(){});
	            	}
	            }
			});
		}
	}
	
	function loginOut(){
		layer.msg('确定要退出么？', {
			  time: 0 //不自动关闭
			  ,btn: ['咋的，有意见？', '你说退就退啊！']
			  ,yes: function(index){
			    layer.close(index);
			    window.location.href = "loginOut";
			  }
			});
	}
	
	//按钮延时设置（废弃）
//		$(function(){
//			var countdown=3;
// 		$("#sumitEva").attr("disabled", true); 
// 		setTimeout("closeCol()",3000);
//		})
	
//		function closeCol(){
//			$("#sumitEva").attr("disabled", false); 
//		}
	
	//进入其他人主页的方法
	function go_people(id){
		window.location.href="/myworld?modify=no&articleId="+id;
	}
	
	function texttareas(){
		$.ajax({
			type : "post",
			url : "/userLoginOr",
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('请登陆后评价', function(){});
            },
            success: function(data) {
        		if(data!=""){
    				$("#message").attr("rows","3");
    				$("#submitBtn").attr("style","display:block")
    			}else{
    				layer.msg('请登陆后评价', function(){});
    			}
            }
		});
	}
	
	$("body").click(function(e) {
		var id = e.target.offsetParent.id;
		if (e.target.tabIndex == -1 && id != "head_1") {
			var flag = $("#collapse").attr("aria-expanded");
			if (flag == "true") {
				$("#collapse").removeClass("in");
			}
		}
	})
	
	function words_block() {
		$("#Modal").modal("show");
	}

	
	//提交留言
	function submmit_words(){
		var words_mess = $("#message").val();
		$("#send_word").attr("disabled", true);
		if(words_mess==null || words_mess==""){
			$("#send_word").attr("disabled", false);
			layer.msg('请填写留言后在提交', function(){});
			return false;
		}
		$.ajax({
			type : "post",
			url : "/words_mess",
			data : {"words_mess":words_mess},
			cache: false,
			async: false,
			error: function(request) {
				layer.msg('留言失败', function(){});
				$("#send_word").attr("disabled", false);
            },
            success: function(data) {
                if(data == "success"){
                	layer.msg('留言成功');
                	$("#send_word").attr("disabled", false);
                	$("#Modal").modal("hide");
                }
            }
		});
	}

</script>
</html>